[workspace]
members = [
    "config",
    "error",
    "raws",
    "show",
    "services/dynamodb",
    "services/iam",
]

[workspace.package]
version = "0.0.0-alpha.2"
authors = ["Cyril Plisko <cyril.plisko@mountall.com>"]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awscli-rs/awscli"


[workspace.dependencies]
async-trait = "0.1"
aws-smithy-types = "0.55"
aws-config = "0.55"
aws-types = "0.55"
aws-sdk-dynamodb = "0.27"
aws-sdk-iam = "0.27"
clap = { version = "4.2", features = ["derive", "env"] }
miette = { version = "5.7", features = ["fancy"] }
tokio-stream = "0.1"
thiserror = "1.0"

config = { version = "0.0.0-alpha.2", path = "./config" }
error = { version = "0.0.0-alpha.2", path = "./error" }
show = { version = "0.0.0-alpha.2", path = "./show" }

dynamodb = { version = "0.0.0-alpha.2", path = "./services/dynamodb" }
iam = { version = "0.0.0-alpha.2", path = "./services/iam" }
