[workspace]
members = ["config", "error", "dynamodb", "raws", "iam", "show"]

[workspace.package]
version = "0.0.0-alpha.1"
authors = ["Cyril Plisko <cyril.plisko@mountall.com>"]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awscli-rs/awscli"


[workspace.dependencies]
aws-smithy-types = "0.55"
aws-config = "0.55"
aws-types = "0.55"
aws-sdk-dynamodb = "0.26"
aws-sdk-iam = "0.26"
clap = { version = "4.2", features = ["derive", "env"] }
miette = { version = "5.7", features = ["fancy"] }
tokio-stream = "0.1"
thiserror = "1.0"

config = { version = "0.0.0-alpha.1", path = "./config" }
error = { version = "0.0.0-alpha.1", path = "./error" }
dynamodb = { version = "0.0.0-alpha.1", path = "./dynamodb" }
iam = { version = "0.0.0-alpha.1", path = "./iam" }
show = { version = "0.0.0-alpha.1", path = "./show" }
