[workspace]
resolver = "2"
members = [
    "config",
    "error",
    "raws",
    "parsers",
    "show",
    "services/account",
    "services/dynamodb",
    "services/eks",
    "services/iam",
    "services/pricing",
    "services/sso",
    "services/sts",
]


[workspace.package]
version = "0.0.0-alpha.6"
authors = ["Cyril Plisko <cyril.plisko@mountall.com>"]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awscli-rs/awscli"


[workspace.dependencies]
async-trait = "0.1"
aws-smithy-types = "0.55"
aws-smithy-types-convert = { version = "0.55", features = ["convert-time"] }
aws-config = "0.55"
aws-types = "0.55"
aws-sdk-account = "0.28"
aws-sdk-dynamodb = "0.28"
aws-sdk-eks = "0.28"
aws-sdk-iam = "0.28"
aws-sdk-pricing = "0.28"
aws-sdk-sso = "0.28"
aws-sdk-sts = "0.28"
clap = { version = "4.2", features = ["derive", "env"] }
fmtools = "0.1"
miette = { version = "5.7", features = ["fancy"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
time = { version = "0.3", features = ["serde-well-known"] }
tokio-stream = "0.1"
thiserror = "1.0"

config = { version = "0.0.0-alpha.6", path = "./config" }
error = { version = "0.0.0-alpha.6", path = "./error" }
parsers = { version = "0.0.0-alpha.6", path = "./parsers" }
show = { version = "0.0.0-alpha.6", path = "./show" }

account = { version = "0.0.0-alpha.6", path = "./services/account" }
dynamodb = { version = "0.0.0-alpha.6", path = "./services/dynamodb" }
eks = { version = "0.0.0-alpha.6", path = "./services/eks" }
iam = { version = "0.0.0-alpha.6", path = "./services/iam" }
pricing = { version = "0.0.0-alpha.6", path = "./services/pricing" }
sso = { version = "0.0.0-alpha.6", path = "./services/sso" }
sts = { version = "0.0.0-alpha.6", path = "./services/sts" }


[workspace.lints.clippy]
use_self = "warn"
map_flatten = "warn"
map_unwrap_or = "warn"


[workspace.lints.rust]
deprecated_in_future = "warn"
future_incompatible = "warn"
noop_method_call = "warn"
unreachable_pub = "warn"
missing_debug_implementations = "warn"
rust_2018_compatibility = "warn"
rust_2021_compatibility = "warn"
rust_2018_idioms = "warn"
trivial_casts = "warn"
unused = "warn"
warnings = "deny"
