[workspace]
members = [
    "config",
    "error",
    "raws",
    "show",
    "services/dynamodb",
    "services/iam",
    "services/sso",
    "services/sts",
]

[workspace.package]
version = "0.0.0-alpha.3"
authors = ["Cyril Plisko <cyril.plisko@mountall.com>"]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awscli-rs/awscli"


[workspace.dependencies]
async-trait = "0.1"
aws-smithy-types = "0.55"
aws-config = "0.55"
aws-types = "0.55"
aws-sdk-dynamodb = "0.27"
aws-sdk-iam = "0.27"
aws-sdk-sso = "0.27"
aws-sdk-sts = "0.27"
clap = { version = "4.2", features = ["derive", "env"] }
miette = { version = "5.7", features = ["fancy"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio-stream = "0.1"
thiserror = "1.0"

config = { version = "0.0.0-alpha.3", path = "./config" }
error = { version = "0.0.0-alpha.3", path = "./error" }
show = { version = "0.0.0-alpha.3", path = "./show" }

dynamodb = { version = "0.0.0-alpha.3", path = "./services/dynamodb" }
iam = { version = "0.0.0-alpha.3", path = "./services/iam" }
sso = { version = "0.0.0-alpha.3", path = "./services/sso" }
sts = { version = "0.0.0-alpha.3", path = "./services/sts" }


[workspace.lints.clippy]
use_self = "warn"
map_flatten = "warn"
map_unwrap_or = "warn"


[workspace.lints.rust]
deprecated_in_future = "warn"
future_incompatible = "warn"
noop_method_call = "warn"
unreachable_pub = "warn"
missing_debug_implementations = "warn"
rust_2018_compatibility = "warn"
rust_2021_compatibility = "warn"
rust_2018_idioms = "warn"
trivial_casts = "warn"
unused = "warn"
warnings = "deny"
